/********************/
/* for tree tab bar */
/********************/
.tabbrowser-tab {
    min-width: initial !important;
}
.tab-content {
    overflow: hidden !important;
}


/****************/
/* hide tab bar */
/****************/
#TabsToolbar{
    visibility: collapse;
}


/********************************************************************************************/ /* https://www.reddit.com/r/FirefoxCSS/comments/lwf22i/autohide_address_bar_reveal_on_hover/ */
/* Auto-hide address bar + reveal on hover ***************************************************/
/********************************************************************************************/
/*
:root {
    --sidebar-width: 5.9vw;
    --panel-width: 86.5vw;
    --panel-hide-offset: -30px;
    --opacity-when-hidden: 0.05;
}
#navigator-toolbox{
  position: fixed !important;
  <!-- Comment out following line to get 'slide-page-down' reveal, like in F11 fullscreen mode -->
  display: block; 
  transition: margin-top 82ms 33ms linear, opacity 82ms 33ms linear !important; 
  z-index: 1;
  opacity: 1;
  <!-- Spacing on the left/right for sidebar -->
  <!-- margin-left: -->
  <!-- Disabled the borders, as the bottom one seemed to have unwanted top padding sometimes -->
  border: none !important;
}
#navigator-toolbox,
#navigator-toolbox > *{
  <!-- Reduced width for panel in order to not overflow the screen on the right side -->
  <!-- width:  var(--panel-width); -->
  width: 100%
}
#navigator-toolbox:not(:focus-within):not(:hover){
  margin-top: var(--panel-hide-offset);
  opacity: var(--opacity-when-hidden);
}
!-- Disable auto-hiding when in 'customize' mode -->
:root[customizing] #navigator-toolbox{
  position: relative !important;
  opacity: 1 !important;
  margin-top: 0px;
} 
*/

/***********************/
/* hide side bar title */
/***********************/
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display: none;
}
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header {
  display: none;
}

/* auto hide and show sidebar */
/*Collapse in default state and add transition*/
/*
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  overflow: hidden;
  min-width: 40px;
  max-width: 40px;
  transition: all 0.2s ease;
  border-right: 0px solid #0c0c0d;
  z-index: 2;
}
*/
/*Expand to 260px on hover*/
/*
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {
  min-width: 260px !important;
  max-width: 260px !important;
  z-index: 1;
}
*/
